# ICRU 2021 Data Analysis

In [261]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt;
import seaborn as sns

## File Import
Req. Libraries
- xlrd 2.0.1 (Library for developers to extract data from Microsoft Excel (tm) .xls spreadsheet files)
- openpyxl 3.0.9 (A Python library to read/write Excel 2010 xlsx/xlsm files)

File Name
- icru_2021_data_sheet0 : (원본)ICRU데이터_rev1_220108_테스트.xlsx / Sheet0
- icru_2021_data_sheet1 : (원본)ICRU데이터_rev1_220108_테스트.xlsx / Sheet1

In [249]:
icru_2021_data_sheet0 = pd.read_excel('(원본)ICRU데이터_rev1_220108_테스트.xlsx',sheet_name=0,index_col=False)
icru_2021_data_sheet1 = pd.read_excel('(원본)ICRU데이터_rev1_220108_테스트.xlsx',sheet_name=1,index_col=False)
# icru_2021_data_sheet0.info()
# icru_2021_data_sheet1.info()

## Cleansing

sheet0 [2162 rows x 16 columns]
- id(int)
- type(category)
- gender(Binary) : 1(남성), 0(여성)
- year(int)
- work1-3(category)
- expF1-9(category)

sheet1 [2160 rows x 38 columns]
- id(int)
- type(category)
- F1-9_R, F1-9_E, F1-9_A, F1-9_D (int)

In [250]:
'''
A. icru_2021_data_sheet0
_column index
    id(int)
    type(category)
    gender(Binary) : 1(남성), 0(여성)
    year(int)
    work1-3(category) 
    expF1-9(category)
'''
sheet0 = icru_2021_data_sheet0.copy()
### Delete '테스트' data
col = sheet0.columns[1]
for key in ['테스트','d']:
    testRow = sheet0[sheet0[col]==key].index
    sheet0.drop(testRow,inplace=True)

### Column Clean-UP
sheet0.drop(sheet0.columns[16:], axis=1, inplace=True)
sheet0.drop(sheet0.columns[1], axis=1, inplace=True)
orgColumn = list(sheet0.columns)
renamedColumn = ['id', 'gender', 'year',
                'work1', 'work2', 'work3',
                'expF1', 'expF2', 'expF3', 'expF4', 'expF5', 'expF6', 'expF7', 'expF8', 'expF9']
sheet0.columns = renamedColumn
columnRef0 = np.array([renamedColumn,orgColumn]).transpose()

### Row Clean-UP
sheet0['gender'] = sheet0['gender'].map({'남':1,'여':0}).astype('boolean')
sheet0['year'] = sheet0['year'].astype('int64')

In [251]:
'''
B. icru_2021_data_sheet1
_column index
    id(int)
    F1-9_R, F1-9_E, F1-9_A, F1-9_D (int)
    type(char) : 12 types
'''
sheet1 = icru_2021_data_sheet1.copy()
### Delete '테스트' data
sheet1.drop([0], axis=0, inplace=True)
col = sheet1.columns[1]
for key in ['테스트','d']:
    testRow = sheet1[sheet1[col]==key].index
    sheet1.drop(testRow,inplace=True)

### Column Clean-UP
sheet1.drop(sheet1.columns[-1], axis=1, inplace=True)
sheet1.drop(sheet1.columns[38:50], axis=1, inplace=True)
sheet1.drop(sheet1.columns[1], axis=1, inplace=True)
sheet1 = sheet1[:2160]
orgColumn = list(sheet1.columns)
renamedColumn =['id',
                'F1_R', 'F1_E', 'F1_A', 'F1_D',
                'F2_R', 'F2_E', 'F2_A', 'F2_D',
                'F3_R', 'F3_E', 'F3_A', 'F3_D',
                'F4_R', 'F4_E', 'F4_A', 'F4_D',
                'F5_R', 'F5_E', 'F5_A', 'F5_D',
                'F6_R', 'F6_E', 'F6_A', 'F6_D',
                'F7_R', 'F7_E', 'F7_A', 'F7_D',
                'F8_R', 'F8_E', 'F8_A', 'F8_D',
                'F9_R', 'F9_E', 'F9_A', 'F9_D',
                'type']
sheet1.columns = renamedColumn
columnRef1 = np.array([renamedColumn,orgColumn]).transpose()
sheet1.reset_index(drop=True, inplace=True)

### Row Clean-UP
for col in sheet1.columns[:-1]:
    sheet1[col] = sheet1[col].astype('int64')
sheet1['type'] = sheet1['type'].astype('category')

In [252]:
# move and add 'type' column next to 'id'
sheet0 = pd.concat([sheet0,sheet1['type']], axis=1)
sheet0 = sheet0[['id', 'type', 
                'gender', 'year',
                'work1', 'work2', 'work3',
                'expF1', 'expF2', 'expF3', 'expF4', 'expF5', 'expF6', 'expF7', 'expF8', 'expF9']]
sheet1 = sheet1[['id','type',
                'F1_R', 'F1_E', 'F1_A', 'F1_D',
                'F2_R', 'F2_E', 'F2_A', 'F2_D',
                'F3_R', 'F3_E', 'F3_A', 'F3_D',
                'F4_R', 'F4_E', 'F4_A', 'F4_D',
                'F5_R', 'F5_E', 'F5_A', 'F5_D',
                'F6_R', 'F6_E', 'F6_A', 'F6_D',
                'F7_R', 'F7_E', 'F7_A', 'F7_D',
                'F8_R', 'F8_E', 'F8_A', 'F8_D',
                'F9_R', 'F9_E', 'F9_A', 'F9_D']]

## Analysis

### Case1
Heatmap of READ types in Features (F1~F9)
- 2. READ 분석: 질문별 R,E,A,D 분포를 통해서 질문의 Quality를 파악할 수 있을 거 같음

In [299]:
def featureAnalysis(FeatureName):
    featureCol = ['id','type']

    df_result = pd.DataFrame()
    substring = FeatureName
    for col in sheet1.columns:
        if substring in col:
            featureCol.append(col)
    df = sheet1[featureCol]

    df_typeFiltered = df[df['type'].isin(['RE','RA','RD'])]
    df_result['typeR'] = df_typeFiltered[featureCol[-4:]].mean()

    df_typeFiltered = df[df['type'].isin(['ER','EA','ED'])]
    df_result['typeE'] = df_typeFiltered[featureCol[-4:]].mean()

    df_typeFiltered = df[df['type'].isin(['AR','AE','AD'])]
    df_result['typeA'] = df_typeFiltered[featureCol[-4:]].mean()

    df_typeFiltered = df[df['type'].isin(['DR','DE','DA'])]
    df_result['typeD'] = df_typeFiltered[featureCol[-4:]].mean()

    return df_result

In [315]:
df = featureAnalysis('F1')
df.style.background_gradient(cmap='Greens',vmin = 0, vmax = 4, axis = None)

In [316]:
df = featureAnalysis('F2')
df.style.background_gradient(cmap='Greens',vmin = 0, vmax = 4, axis = None)

In [317]:
df = featureAnalysis('F3')
df.style.background_gradient(cmap='Greens',vmin = 0, vmax = 4, axis = None)

In [318]:
df = featureAnalysis('F4')
df.style.background_gradient(cmap='Greens',vmin = 0, vmax = 4, axis = None)

In [319]:
df = featureAnalysis('F5')
df.style.background_gradient(cmap='Greens',vmin = 0, vmax = 4, axis = None)

In [320]:
df = featureAnalysis('F6')
df.style.background_gradient(cmap='Greens',vmin = 0, vmax = 4, axis = None)

In [321]:
df = featureAnalysis('F6')
df.style.background_gradient(cmap='Greens',vmin = 0, vmax = 4, axis = None)

In [322]:
df = featureAnalysis('F7')
df.style.background_gradient(cmap='Greens',vmin = 0, vmax = 4, axis = None)

In [323]:
df = featureAnalysis('F8')
df.style.background_gradient(cmap='Greens',vmin = 0, vmax = 4, axis = None)

In [324]:
df = featureAnalysis('F9')
df.style.background_gradient(cmap='Greens',vmin = 0, vmax = 4, axis = None)